
*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #37373F;
  .wrapper{
    width: 1142px;
    margin-left: auto;
    margin-right: auto;
  }
  .show, .hidden{
    font-weight: 500;
    color: #5286EC;
    cursor: pointer;
  }
  .show::before, .show::after {
    display: inline-block;
    margin: 0 10px;
    width: 11px;
    content: url("img/Arrow.svg");
  }
  .hidden::before, .hidden::after {
    margin: 0 10px;
    content: url("img/Arrow.svg");
    transform: rotate(180deg);
    transition: transform 0.5s;
  }
  .title-40{
    font-size: 40px;
    line-height: 49px;
  }
  .title-20{
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
  }
  .text-18-26{
    font-size: 18px;
    line-height: 26px;
  }
  .text-18-22{
    font-size: 18px;
    line-height: 22px;
  }
  .text-14-21{
    font-size: 14px;
    line-height: 21px;
  }
  .text{
    font-size: 16px;
    line-height: 24px;
  }
  .text_gray{
    color: #B3B3B3;
  }
  .text_500{
    font-weight: 500;
  }
  .btn{
    background: none;
    border-radius: 3px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    outline: 0;
  }
  .aside{
    display: flex;
    align-items: center;
    width: 97%;
    height: 87px;
    margin-top: 34px;
    .aside__desc{
      padding: 0 10px 0 14px;
      .desc_bold{
        font-weight: 600;
      }
    }
    .stars-box{
      .star{
        padding: 0 0;
      }
    }
  }
  .owl-carousel{
    display: block;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.popup-form{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  .popup_bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
  }
  &.popup_hidden{
    opacity: 0;
    z-index: -10;
    transition: opacity .5s, z-index 1.3s;
  }
  &.popup_show{
    opacity: 1;
    z-index: 5;
    transition: opacity .5s;
  }
.popup{
    background: #ffffff;
    width: 615px;
    height: 887px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -443.5px 0 0 -307.5px;
    z-index: 15;
    border-radius: 6px;
    .popup_close{
      position: absolute;
      right: 23px;
      top: 22px;
      cursor: pointer;
      &::before{
        content: url("img/Close.svg");
        width: 20.01px;
        height: 20.03px;
      }
    }
    .popup__title{
      font-weight: 600;
      font-size: 22px;
      line-height: 33px;
      text-align: center;
      margin: 62px 0 31px 0;
    }
    .popup-wrapper{
      width: 420px;
      margin: 0 auto;
      .popup__subtitle{
        font-weight: 500;
        font-size: 16px;
        &::after{
          content: '*';
          color: red;
        }
      }
      .popup__date{
        position: relative;
        height: 44px;
        .date-btn{
          position: absolute;
          top: 50%;
          margin-top: -13.5px;
          right: 14px;
          width: 27px;
          height: 27px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 0.5px solid #C4C4C4;
          box-sizing: border-box;
          background: none;
          border-radius: 3px;
          cursor: pointer;
          outline: 0;
          &::before{
            content: url("img/calendar_or.svg");
            width: 15px;
            height: 15px;
          }

        }
      }
      input[type='number'] {
        -moz-appearance:textfield;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      .popup__input{
        width: 400px;
        height: 44px;
        margin: 10px auto;
        padding-left: 20px;
        outline: 0;
        border-radius: 3px;
        border: 1px solid #C7C7C7;
        box-sizing: border-box;
        font-size: 16px;
        line-height: 20px;
        font-weight: normal;

        &::placeholder{
          color: #C7C7C7;
        }
        &::-webkit-input-placeholder {color: #C7C7C7;}
        &::-moz-placeholder          {color: #C7C7C7;}
        &:-moz-placeholder           {color: #C7C7C7;}
        &:-ms-input-placeholder      {color: #C7C7C7;}
      }
      .popup-card{
        display: flex;
        flex-flow: wrap;
        border: 1px solid #C7C7C7;
        box-sizing: border-box;
        border-radius: 3px;
        width: 400px;
        margin: 10px 0 34px 0;
        .popup__input{
          margin: 0;
          border: 0;
        }
        .popup-card__bottom{
          display: flex;
          border-top: 1px solid #C7C7C7;

        }
      }
      .input__card{
        border: 0;
        height: 44px;
        width: 44.625%;
        margin: 0;
        padding-left: 20px;
        font-size: 16px;
        line-height: 20px;
        font-weight: normal;
        &::placeholder{
          color: #C7C7C7;
        }
        &.input__card-1{
          border-right: 1px solid #C7C7C7;
        }
      }
      .popup-checkbox__wrapper{
        display: flex;
        justify-content: flex-start;

        .checkbox{
          width: 16px;
          height: 16px;
          outline: 0;
          box-shadow: 0px 0px 3px rgba(252, 155, 9, 0.6);
          border-radius: 2px;
          -webkit-appearance:none;
          background: #FC9B09;
          margin: 0 10px 0 1px;

          &:checked{
            content:url("img/checked.svg");
          }
        }
        .popup__checkbox{
          width: 370px;
          .popup-checkbox__text{
            font-size: 16px;
            line-height: 20px;
          }
        }
      }

      .btn{
        background: #FC9B09;
        display: block;
        width: 390px;
        height: 72px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        margin: 0 auto;
        border: 0;
        margin-top: 23px;
      }
    }
  }
}
.header {
  .header-top{
    height: 100px;
    display: flex;
    align-items: center;
    .header__phone{
      margin-left: 36.11px;
      font-size: 14px;
      line-height: 17px;
      text-decoration: none;
      &::before{
        content: 'Телефон:';
        color: #B3B3B3;
      }

    }
    .header-top__text{
      font-size: 14px;
      line-height: 17px;
      color: #5286EC;
      position: absolute;
      left: 50%;
      margin-left: -27.5px;
      top: 50%;
      margin-top: -8.5px;
      display: none;
    }
    .header__man{
      position: absolute;
      right: 15px;
      display: none;
    }
  }
  .header-bottom{
    background: url("img/helimain.png") no-repeat center;
    background-size: cover;
    height: 840px;

    .header__title{
      padding: 286px 0 29px 0;
      width: 887px;
      font-weight: bold;
      color: #FFFFFF;
      .title_orange{
        color: #FC9B09;
      }
    }
    .header__price{
      position: relative;
      width: 224px;
      height: 96px;
      padding: 2px 5px;
      background: url("img/Rectangle.svg") no-repeat;
      color: #FFFFFF;

      .cost{
        padding: 11px 0 4px 22px;
        font-size: 20px;
        line-height: 19px;
        color: #FFFFFF;
      }
      .price{
        font-weight: 800;
        font-size: 35px;
        line-height: 36px;
        padding: 0 0 0 22px;
        color: #FFFFFF;
      }
      .percent{
        position: absolute;
        right: 29px;
        top: 16px;
        width: 52px;
        height: 52px;
        border: 1px solid #FFFFFF;
        border-radius: 100%;
        text-align: center;
        line-height: 52px;
        font-weight: 800;
        font-size: 35px;
        color: #FFFFFF;
      }
    }
    .btn{
      width: 304px;
      height: 68px;
      border: 3px solid #FFFFFF;
      box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25), 0px 4px 70px rgba(255, 255, 255, 0.7);
      margin-top: 12px;
      font-weight: 900;
      font-size: 18px;
      line-height: 22px;
      color: #FFFFFF;
      transition: background 0.5s, color 0.5s;
      &:hover{
        background: #fff;
        color: #FC9B09;
      }
      &:active{
        border: 3px solid #FC9B09;

      }

    }
  }
}
.main{
  .section-photo{
    margin-top: 70px;
    .section-photo__title{
      font-weight: 500;
      margin: 18px 0 13px 0;

    }
    .section-photo__wrap{
      display: flex;

      .left{
        width: 569px;
        .section-photo__desc{
          display: flex;
          align-items: center;
          margin-top: 16px;
          .text{
            margin-left: 10px;
          }
        }
        .section-photo__aside{
          border-top: 0.5px solid #C7C7C7;
          border-bottom: 0.5px solid #C7C7C7;

        }
      }
      .right{
        width: 50%;
        position: relative;

        .video{
          width: 553.992px;
          height: 373.992px;
        }
        .right__wrapper{
          &.video__hidden{
            cursor: pointer;
            width: 553.992px;
            height: 373.992px;
            position: absolute;
            top: 0;

            &::before{
              content: url("img/video.svg");
              z-index: 4;
              display: block;
              width: 16px;
              height: 23px;
              position: absolute;
              bottom: 29px;
              right: 41px;

            }
            .section-photo__img{
              position: absolute;
              top: 0;
            }
          }
        }

      }
    }

  }
.section-gallery{
  margin: 30px 0 0 0;
  border-bottom: 0.5px solid #C7C7C7;
  @media(max-width: 1230px){
    height: 340px;
    overflow: hidden;
    border: 0;

      .section-gallery__box {
        .section-gallery__img {
          &:first-child{
            margin: 0 0px;
          }
        }

      }


  }
  .section-gallery__title{
    margin-bottom: 37px;
  }
  .section-gallery__wrapper {
    width: 100%;
    margin: 0 auto;
    .section-gallery__box {
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      height: 392px;
      transition: height 1s;
      justify-content: space-between;

      .section-gallery__img {
        width: 277px;
        height: 185px;
        margin-bottom: 11px;


      }
    }
  }
  .section-gallery__show{

    &.show, &.hidden{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 235px;
      height: 80px;
      margin: 0 auto;
      text-align: center;
      font-size: 17px;
      line-height: 25px;
      cursor: pointer;
      transition: opacity 0.5s, height 1s;


    }
  }
}
  .section-organizer{
    display: flex;
    border-bottom:0.5px solid #C7C7C7;
    padding-bottom: 51px;
    .left{
      width: 584px;
      .section-organizer__title{
        font-weight: 500;
        margin: 40px 0 14px 0;
      }
      .section-organizer__text{
        .section-organizer__span{
          margin-top: 32px;
          display: block;
        }
      }
    }
    .section-organizer__show{
      width: 128px;
      color: #5286EC;
      font-weight: 500;
      font-size: 16px;
      margin-top: 10px;
      cursor: pointer;
      &::after{
        display: inline-block;
        width: 11px;
        margin: 0 10px;
        content: url("img/Arrow.svg");

      }
    }
    .right{
      margin-top: 68px;
      width: 290px;
      margin-left: 151px;
      text-align: center;
      position: relative;
      .section-organizer__heart{
        position: absolute;
        top: -13px;
        right: 0;
      }
      .section-organizer__title{
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        margin-top: 20px;
      }
      .section-organizer__subtitle{
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        margin: 7px 0 11px 0;
      }
      .section-organizer__show-more{
        margin: 0 auto;
        width: 200px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #5286EC;
        text-decoration: none;
      }
    }
  }
.section-buy{
  padding-top: 50px;
  .section-buy__title{
    width: 288px;
    margin-bottom: 30px;
  }
  .article-buy{
    width: 770px;
    height: 458px;
    border: 1px solid #C7C7C7;
    box-sizing: border-box;
    .article-buy__date{
      padding-left: 32px;
      height: 74px;
      display: flex;
      align-items: center;
      .date-btn{
        width: 35px;
        height: 35px;
        border: 0.5px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 3px;
        background: none;
        margin-left: 14px;
        cursor: pointer;
        outline: 0;
        &::before{
          content: url("img/Calendar.svg");
        }
      }
    }
    .article-buy__content{
      padding-left: 32px;
      border-top: 1px solid #C7C7C7;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      height: 130px;
      position: relative;
      .price{
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        margin: 10px 0;
      }
      .section-buy__btn{
        position: absolute;
        right: 30px;
        width: 129px;
        height: 50px;
        border: 2px solid #FC9B09;
        box-sizing: border-box;
        border-radius: 3px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #FC9B09;
        background: none;
        outline: 0;
        cursor: pointer;
        top: 50%;
        margin-top: -25px;
        transition: background .5s, color .5s;
        &:hover{
          background: #FC9B09;
          color: #fff;
        }
        &:active{
          border: 2px solid #9E6105;

        }
      }

    }

  }
  .article__aside{
    padding-left: 32px;
    height: 120px;
    margin: 0 0 0 0;
  }
}

  .section-map{
    margin-top: 82px;
    position: relative;
    .article-map{
      @media only screen and (min-width: 650px) {
        width: 420px;
        height: 469px;

      }

      background: #FFFFFF;
      border: 1px solid #C7C7C7;
      box-sizing: border-box;
      position: absolute;
      left: 20.3%;
      top: 20px;
      .article-map__wrap{
        height: 59.7%;
        width: 100%;
        margin-top: 38px;
        overflow: hidden;
      }
      .article-map__content{
        height: 33.33333%;
        display: flex;
        align-items: center;
        &.last{
          height: 25%;
        }
        .where{
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
          .city, .prof{
            display: block;
          }
          .city{
            line-height: 26px;
            padding-top: 12px;
          }
          .prof{
            font-size: 16px;
            line-height: 24px;
          }
          .show-more{
            font-size: 14px;
            line-height: 21px;
            color: #5286EC;
            text-decoration: none;
          }
        }
        .num{
          width: 61px;
          height: 61px;
          background: #FC9B09;
          border-radius: 100%;
          text-align: center;
          line-height: 61px;
          font-weight: bold;
          font-size: 35px;
          color: #FFFFFF;
          margin: 0 18px 0 30px;
        }
      }
    }

  }
  .section-reviews{
    margin-top: 131px;
    .section-reviews__title{
      margin-bottom: 20px;
    }
    .reviews{
      overflow: hidden;
      transition: height 1s;
      .section-reviews__item{
        display: none;
        width: 510px;
        margin-top: 30px;
        .reviews__img{
          width: 101px;
          height: 101px;
          margin-right: 20px;
        }
        .reviews__title{
          font-weight: 500;
          font-size: 18px;
          margin-top: 10px;
        }
        .reviews__subtitle{
          font-size: 14px;
          line-height: 21px;
          margin: 10px 0 0 0;
        }
        .reviews__stars{
          display: flex;
          align-items: center;
          height: 50px;

          .star{
            margin: 0 1.5px;
          }
          .super{
            margin-left: 50px;
            display: flex;
            align-items: center;
            .super__text{
              font-size: 14px;
            }
            &::before{
              content: url("img/galka.svg");
              margin-right: 5px;
            }

          }
        }
        .reviews__text{
          width: 510px;
          margin-bottom: 22px;
        }
        .reviews__date{
          font-size: 14px;
          line-height: 21px;
          padding-bottom: 35px;
          border-bottom: 0.5px solid #C7C7C7;
        }
      }
    }

    .section-reviews__show{
      transition: opacity .5s, margin .5s;
      &.show{
        width: 230px;
        margin: 47px auto;
        text-align: center;
      }
      &.hidden{
        margin: 47px auto 0 auto;
        height: 0;
        opacity: 0;
        width: 0;

    }
    }
  }
}
.footer{
  height: 191px;
  .footer-top{
    height: 100px;
    display: flex;
    align-items: center;
      .logo{
        margin-left: 73.5px;
      }

      .social{
        margin-right: 73.5px;
        display: flex;
        float: right;
        align-items: center;
        .social__item{
          margin-left: 30px;
          &.language{
            width: 41px;
            border: none;
            outline: none;
            appearance: none;
            -webkit-appearance: none;
            background: url("img/Arrow.svg") no-repeat 100%;
          }
      }
    }
  }
  .footer-bottom{
    height: 77px;
    background: #FAF9F8;
    margin-top: 14px;
    .wrapper {
      display: flex;
      text-align: center;
      position: relative;
      .card{

          position: absolute;
        left: 73.5px;
        top: 11px;
        .card__img{
          margin-right: 20px;
        }
      }
      .support{
        margin: 3px auto;
        .support__text{
          font-size: 14px;
          line-height: 24px;
          text-decoration: none;
        }
      }
    }



  }
}