@media only screen and (min-width: 0px) and (max-width: 1230px) {
  .wrapper {
    width: 90%;
  }

  .main .section-photo .section-photo__wrap .right {
    width: 450px;
    height: 303.781px;
  }
  .main .section-photo .section-photo__wrap .right .video {
    width: 100%;
    height: 100%;
  }
  .main .section-photo .section-photo__wrap .right .right__wrapper.video__hidden {
    width: 450px;
    height: 303.781px;
  }
  .main .section-photo .section-photo__wrap .right .right__wrapper.video__hidden .section-photo__img {
    width: 100%;
  }
  .main .section-photo .left {
    width: 50%;
  }
  .main .section-photo .left .section-photo__aside {
    width: 100%;
  }
  .main .section-gallery {
    display: block;
    margin: 0 auto;
    width: 105.5%;
  }
  .main .section-gallery .section-gallery__wrapper .owl-carousel {
    margin: 0 auto;
  }
  .main .section-gallery .section-gallery__wrapper .owl-carousel .section-gallery__img {
    height: 277px;
    width: 415px;
  }
  .main .section-map .article-map {
    left: 5%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 1030px) {
  .main .section-photo {
    margin: 39px 0 30px 0;
  }
  .main .section-photo .section-photo__title {
    text-align: center;
    font-size: 38px;
    line-height: 44px;
    font-weight: normal;
  }
  .main .section-photo .section-photo__wrap {
    flex-flow: column-reverse;
  }
  .main .section-photo .section-photo__wrap .left {
    width: 100%;
  }
  .main .section-photo .section-photo__wrap .right {
    width: 553.992px;
    height: 373.992px;
    margin: 0 auto 30px auto;
  }
  .main .section-photo .section-photo__wrap .right .video {
    width: 100%;
    height: 100%;
  }
  .main .section-photo .section-photo__wrap .right .right__wrapper.video__hidden {
    width: 553.992px;
    height: 373.992px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 950px) {
  .header .header-bottom {
    background-position: 60%;
  }
  .header .header-bottom .wrapper .header__title {
    width: auto;
  }

  .main .section-photo {
    margin-bottom: 0;
  }
  .main .section-gallery {
    height: 312px;
  }
  .main .section-gallery .section-gallery__title {
    text-align: center;
    font-size: 38px;
    line-height: 44px;
    font-weight: normal;
    margin-top: 60px;
  }
  .main .section-gallery .section-gallery__wrapper .owl-carousel {
    margin: 0 auto;
  }
  .main .section-gallery .section-gallery__wrapper .owl-carousel .section-gallery__img {
    height: 185px;
    width: 277px;
  }
  .main .section-organizer .left {
    width: 60%;
  }
  .main .section-organizer .right {
    width: 40%;
    margin-left: 15px;
  }
  .main .section-buy .section-buy__title {
    text-align: center;
    font-size: 38px;
    line-height: 44px;
    font-weight: normal;
    width: 100%;
  }
  .main .section-buy .article-buy {
    width: 100%;
  }
  .main .section-map .article-map {
    position: inherit;
    margin: 0 auto;
    left: 0;
    top: 52px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 750px) {
  .header .header-top {
    position: relative;
    height: 60px;
  }
  .header .header-top .header__phone {
    display: none;
  }
  .header .header-top .header__man {
    display: block;
    top: 50%;
    margin-top: -10px;
  }
  .header .header-top .header-top__text {
    display: block;
  }

  .footer .footer-top {
    position: relative;
    height: 65px;
    border-bottom: 0.5px solid #B3B3B3;
  }
  .footer .footer-top .logo {
    margin-left: 0;
  }
  .footer .footer-top .social {
    width: 170px;
    margin-right: 0px;
  }
  .footer .footer-top .social .language {
    position: absolute;
    width: 60px;
    bottom: -62px;
    right: 5%;
    z-index: 2;
  }
  .footer .footer-bottom {
    height: 139px;
    background: #fff;
  }
  .footer .footer-bottom .wrapper .card {
    left: 0;
    top: 26px;
  }
  .footer .footer-bottom .wrapper .support {
    margin-top: 73px;
  }
  .footer .footer-bottom .wrapper .support .support__text {
    font-size: 14px;
    line-height: 17px;
    margin-top: 10px;
  }

  .logo {
    width: 84px;
    height: 15.33px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 700px) {
  .popup-form .popup {
    width: 100vw;
    height: 100vh;
    margin-left: -50vw;
    margin-top: -50vh;
    border-radius: 0;
  }
  .popup-form .popup .popup__title {
    margin: 15px auto 15px auto;
  }
  .popup-form .popup .popup-wrapper {
    min-width: 270px;
    max-width: 400px;
    width: 90%;
  }
  .popup-form .popup .popup-wrapper .popup__input {
    width: 100%;
    height: 44px;
    margin: 9px 0;
  }
  .popup-form .popup .popup-wrapper .popup-card {
    width: 100%;
  }
  .popup-form .popup .popup-wrapper .popup-card .popup-card__bottom {
    display: inline-block;
  }
  .popup-form .popup .popup-wrapper .popup-card .popup-card__bottom .input__card-1 {
    border-right: 0;
    border-bottom: 1px solid #C7C7C7;
  }
  .popup-form .popup .popup-wrapper .popup-checkbox__wrapper .checkbox {
    width: 16px;
  }
  .popup-form .popup .popup-wrapper .popup-checkbox__wrapper .popup__checkbox {
    width: 90%;
  }
  .popup-form .popup .popup-wrapper .btn {
    width: 100%;
    height: 50px;
  }

  .aside .aside__desc {
    font-size: 14px;
    line-height: 20px;
  }

  .header {
    background: top;
  }
  .header .header-bottom {
    height: 655px;
  }
  .header .header-bottom .header__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    padding: 141px 0 36px 0;
  }
  .header .header-bottom .btn {
    width: 273px;
  }

  .main .section-photo .section-photo__wrap .right {
    width: 450px;
    height: 303.781px;
  }
  .main .section-photo .section-photo__wrap .right .right__wrapper.video__hidden {
    width: 450px;
    height: 303.781px;
  }
  .main .section-photo .section-photo__title {
    font-size: 28px;
    line-height: 34px;
  }
  .main .section-photo .section-photo__text {
    font-size: 14px;
    line-height: 20px;
  }
  .main .section-photo .section-photo__desc {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
  .main .section-photo .aside {
    height: 69px;
  }
  .main .section-gallery .section-gallery__title {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 32px;
  }
  .main .section-organizer {
    display: flex;
    flex-direction: column-reverse;
  }
  .main .section-organizer .right, .main .section-organizer .left {
    width: 100%;
  }
  .main .section-organizer .right {
    width: 200px;
    margin: 68px auto 0 auto;
  }
  .main .section-organizer .right .section-organizer__heart {
    right: 0;
  }
  .main .section-buy .article-buy {
    margin: 0 auto;
    height: 600px;
    min-width: 290px;
    width: 90%;
  }
  .main .section-buy .article-buy .article-buy__date {
    padding-left: 0px;
    height: 60px;
  }
  .main .section-buy .article-buy .article-buy__date .date {
    text-align: center;
    width: 100%;
  }
  .main .section-buy .article-buy .article-buy__date .date-btn {
    display: none;
  }
  .main .section-buy .article-buy .article-buy__content {
    height: 220px;
  }
  .main .section-buy .article-buy .article-buy__content .section-buy__btn {
    position: static;
    margin-top: 20px;
  }
  .main .section-map {
    height: 940px;
    margin-top: 45px;
  }
  .main .section-map .article-map {
    height: 380px;
    width: 274px;
    display: block;
  }
  .main .section-map .article-map .article-map__content {
    position: relative;
  }
  .main .section-map .article-map .owl-nav .nav-left, .main .section-map .article-map .owl-nav .nav-right {
    width: 19px;
    height: 10.01px;
  }
  .main .section-map .article-map .owl-nav .owl-next, .main .section-map .article-map .owl-nav .owl-prev {
    outline: 0;
    position: absolute;
    top: 24px;
  }
  .main .section-map .article-map .owl-nav .owl-prev {
    transform: rotate(90deg);
    left: 26px;
  }
  .main .section-map .article-map .owl-nav .owl-next {
    transform: rotate(270deg);
    right: 26px;
  }
  .main .section-map .article-map .owl-dots {
    display: flex;
    justify-content: center;
    margin-top: 19px;
  }
  .main .section-map .article-map .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    border: 0.5px solid #B3B3B3;
    border-radius: 100%;
    margin: 0 5.5px;
    outline: 0;
  }
  .main .section-map .article-map .owl-dots .owl-dot.active {
    background: #FC9B09;
  }
  .main .section-map .article-map .article-map__wrap {
    height: 200px;
    margin-top: 52px;
  }
  .main .section-map .article-map .article-map__wrap .article-map__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .main .section-map .article-map .article-map__wrap .article-map__content .num {
    height: 66px;
    width: 66px;
    font-size: 30px;
    line-height: 66px;
    margin: 0 auto 10px auto;
  }
  .main .section-map .article-map .article-map__wrap .article-map__content .where {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
  }
  .main .section-map .article-map .article-map__wrap .article-map__content .where .city {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    padding-top: 10px;
  }
  .main .section-map .article-map .article-map__content.last {
    align-items: flex-start;
    height: 30%;
    margin-top: -10px;
  }
  .main .section-map .article-map .article-map__content.last .num {
    width: 67px;
    height: 67px;
    margin: 0 11px 0 30px;
  }
  .main .section-map .article-map .article-map__content.last .where .who {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  .main .section-map .article-map .article-map__content.last .where .prof {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
  }
  .main .section-reviews {
    margin: 40px 0 0 0;
  }
  .main .section-reviews .section-reviews__title {
    font-size: 28px;
    line-height: 42px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 10px;
  }
  .main .section-reviews .reviews {
    width: 100%;
    margin-left: -5%;
    padding-left: 5%;
  }
  .main .section-reviews .reviews .section-reviews__item {
    width: 100%;
  }
  .main .section-reviews .reviews .section-reviews__item .reviews__img {
    width: 84px;
    height: 84px;
  }
  .main .section-reviews .reviews .section-reviews__item .reviews-box {
    margin: 0 0 0 -104px;
    width: 100%;
  }
  .main .section-reviews .reviews .section-reviews__item .reviews-box .reviews__title, .main .section-reviews .reviews .section-reviews__item .reviews-box .reviews__subtitle, .main .section-reviews .reviews .section-reviews__item .reviews-box .reviews__stars {
    margin-left: 104px;
  }
  .main .section-reviews .reviews .section-reviews__item .reviews-box .reviews__title {
    margin-top: 0;
    font-size: 16px;
    line-height: 20px;
  }
  .main .section-reviews .reviews .section-reviews__item .reviews-box .reviews__subtitle {
    margin-top: 6px;
  }
  .main .section-reviews .reviews .section-reviews__item .reviews-box .reviews__stars {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 71px;
    width: 90%;
    margin-top: 7px;
  }
  .main .section-reviews .reviews .section-reviews__item .reviews-box .reviews__stars .super {
    width: 115%;
    margin: 24px 0 0 -104px;
  }
  .main .section-reviews .reviews .section-reviews__item .reviews-box .reviews__text {
    width: 100%;
    margin-top: 14px;
    -ms-text-overflow: clip;
    word-wrap: break-word;
  }
}
@media only screen and (min-width: 0px) and (max-width: 625px) {
  .aside {
    flex-flow: column wrap;
    align-items: flex-start;
    position: relative;
    justify-content: center;
    width: 75%;
  }
  .aside .cup {
    position: absolute;
    width: 36.5px;
    height: 41px;
  }
  .aside .aside__desc {
    padding: 0;
  }
  .aside .stars-box {
    margin-top: 5px;
  }
  .aside .stars-box .star {
    margin-right: 5px;
  }

  .main .section-photo .left .section-photo__aside {
    width: 86%;
  }
  .main .section-photo .section-photo__title {
    text-align: center;
    font-size: 28px;
    line-height: 34px;
    font-weight: normal;
  }
  .main .section-photo .section-photo__wrap .left .section-photo__aside {
    padding-left: 48px;
  }
  .main .section-photo .section-photo__wrap .left .section-photo__aside .cup {
    left: 0;
  }
  .main .section-gallery .section-gallery__title {
    font-size: 28px;
    line-height: 34px;
  }
  .main .section-buy .section-buy__title {
    font-size: 28px;
    line-height: 34px;
  }
  .main .section-buy .article-buy {
    position: relative;
  }
  .main .section-buy .article-buy .article__aside {
    padding-left: 69px;
  }
  .main .section-buy .article-buy .article__aside .cup {
    left: 20px;
  }
}
@media only screen and (min-width: 430px) and (max-width: 500px) {
  .main .section-photo .section-photo__wrap .right {
    width: 400px;
    height: 270.031px;
  }
  .main .section-photo .section-photo__wrap .right .right__wrapper.video__hidden {
    width: 400px;
    height: 270.031px;
  }
  .main .section-photo .section-photo__wrap .right .right__wrapper.video__hidden::before {
    right: 22px;
    bottom: 22px;
  }
}
@media only screen and (min-width: 330px) and (max-width: 430px) {
  .main .section-photo .section-photo__wrap .right {
    width: 320px;
    height: 216.016px;
  }
  .main .section-photo .section-photo__wrap .right .right__wrapper.video__hidden {
    width: 320px;
    height: 216.016px;
  }
  .main .section-photo .section-photo__wrap .right .right__wrapper.video__hidden::before {
    right: 19px;
    bottom: 19px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 330px) {
  .main .section-photo .section-photo__wrap .right {
    width: 290px;
    height: 197px;
  }
  .main .section-photo .section-photo__wrap .right .right__wrapper.video__hidden {
    width: 290px;
    height: 197px;
  }
  .main .section-photo .section-photo__wrap .right .right__wrapper.video__hidden::before {
    right: 19px;
    bottom: 19px;
  }
}

/*# sourceMappingURL=media.css.map */
